body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 85px 710px 500px 150px;
    grid-template-areas:
        "header  "
        "text"
        "need"
        "foot";
        margin: 0;
}

header {
    grid-area: header;
    padding: 1% 4%;
    background: rgb(0, 13, 33);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 50px;
    height: 50px;
    /* border-style: solid;
    border-color: black; */
}

.nav-links {
    padding: 5px 0;
}

.nav-links li {
    display: inline-block;
    margin: 0 10px;
}

.nav-links li a {
    text-decoration: none;
    color: #f2f2f2;
    padding: 5px 0;
    position: relative;

}

.nav-links li a::after {
    content: '';
    background-color: #f2f2f2;
    width: 0;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.6s;
}

.nav-links li a:hover::after {
    width: 100%;
}

.btn img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
}

#order {
    grid-area: text;

}

#phonePic {
    float: right;
}

#text {
    float: left;
    margin: 90px 70px 70px 120px;
}

#inText1 {
    font-size: 150px;
}

#inText2 {
    font-size: 50px;
    padding: 17px 0 10px 20px;
}

#inText3 {
    font-size: 220px;
}

#need {
    grid-area: need;
    background-color: rgb(0, 13, 33);
    text-align: center;
}

#img {
    float: left;
}

#fill {
    padding: 30px 20px 20px 0;
}

h3 {
    color: #f2f2f2;
    font-size: xx-large;
    margin: 0;
    margin-bottom: 15px;
}


input[type=text],
select,
textarea {

    width: 23%;
    padding: 10px 30px;
    /* border: 1px solid (0,13,33); */
    /* border-radius: 4px; */
    /* box-sizing: border-box; */
    margin-bottom: 0px;
    resize: vertical;
    background-color: #f2f2f2;
    border: none;
    margin-top: 15px;

}

input[type=tel],
select,
textarea {

    width: 4%;
    padding: 10px 10px;
    /* border: 1px solid (0,13,33); */
    /* border-radius: 4px; */
    /* box-sizing: border-box; */
    margin-bottom: 12px;
    resize: vertical;
    background-color: #f2f2f2;
    border: none;
    text-align: left;
    margin-top: 7px;
}

input[type=tel1],
select,
textarea {

    width: 17%;
    padding: 10px 30px;
    /* border: 1px solid (0,13,33); */
    /* border-radius: 4px; */
    /* box-sizing: border-box; */
    margin-bottom: 5px;
    resize: vertical;
    background-color: #f2f2f2;
    border: none;
}

h4 {
    margin: 0;
}

small {
    color: #f2f2f2;
    margin-bottom: 15px;
    /* margin-bottom:10px; */
}

input[type=submit] {
    border: 1px solid (0, 13, 33);
    background-color: #f2f2f2;
    color: rgb(100, 100, 100);
    padding: 8px 40px;
    border: none;
    margin-bottom: 25px;
    margin-top: 25px;
    /* border-radius: 4px; */
    cursor: pointer;

}

input[type=submit]:hover {
    background-color: rgb(0, 13, 33);
    color: #f2f2f2;
    border: 2px;
    border-style: solid;
    border-color: #f2f2f2;
    /* margin-top: 50px; */
    widows: 4px;
}

footer {
    grid-area: foot;
    background-color: rgb(0, 13, 33);
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    margin-top: 1.5px;
    letter-spacing: 2px;

}

.footText p {
    margin: 0;
    letter-spacing: .5px;
}